<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sy.e.server">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>



    <application
        android:allowBackup="true"
        android:icon="@drawable/avatarx"
        android:label="سوريا لينك"
        android:roundIcon="@drawable/symain"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ser"
        tools:ignore="AllowBackup">
        <activity android:name="sy.iyad.server.LoginActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="sy.iyad.server.Activities.CommanderActivity"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity android:name="sy.iyad.server.Activities.GenerateUserActivity"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity android:name="sy.iyad.server.Activities.MainActivity"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity
            android:name="sy.iyad.server.share.SharingActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar.Bridge">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <service android:name="sy.iyad.server.FirebaseUtils.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>